.profile-container {
  height: 100%;
  padding-top: 3rem;
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}


.form-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
}